#contenido-empresa{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    background: linear-gradient(38deg, rgba(14,104,95,1) 17%, rgba(85,179,167,1) 50%, rgba(14,104,95,1) 83%);
    font-family: cursive;
    justify-content: space-around;
    align-items: center;
    color: #f1eef3;}

.mision{ margin: 1rem;}
.parrafo-empresa{ margin: 2rem;}




