#main-ubicacion {
  background-image: url(https://img.freepik.com/foto-gratis/textura-fondo_1404-59.jpg?t=st=1657762819~exp=1657763419~hmac=5ae6eeb63b261d22712d2adfe1db345b26724fc35a035fce6b56b9a11681eef2&w=1060);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.direccion {
  font-family: 'Kiwi Maru', serif;
  font-size: 3rem;
  color: black;
  margin-bottom: 1rem;
}

.parrafo-ubicacion {
  font-family: 'Kiwi Maru', serif;
  font-size: 20px;
  color: black;
  margin: 1rem;
}

@media (max-width: 1200px) {
  .direccion {
    font-size: 45px;
  }

  .parrafo-ubicacion {
    font-size: 25px;
  }

}
@media (max-width: 992px) {
  .direccion {  
    font-size: 35px;}

}
@media (max-width:768px) {
  .direccion {  
    font-size: 27px;}

}
@media (max-width: 576px) {
  body {
    display: grid;
    background-image: none;
    background-color: #0e685f;
    color: #f1eef3;
  }

  .nav {
    margin-left: 3rem;
  }

  #main-ubicacion {
    background-image: none;
  }

  .direccion {
    color: #f1eef3;
    font-size: 2rem;
    text-align: center;
  }

  .parrafo-ubicacion {
    color: #f1eef3;
    font-size: 1rem;
    text-align: center
  }

}